
.head{
    width: 87%; height: 70vh; 
    background-image: url(resources/Banner\ Image.png);
   
    background-repeat: no-repeat; background-size: cover; 
    margin-left: auto;  margin-right: auto;  
    padding-top:10% ; border-radius: 10px; margin-top: 40px;
}
.head h1{
    font-family: 'Lato'
    font-weight: 400;
}
.head p{
    font-size: 66px; text-align: center; color: white;
    font-weight: 600; font-family: 'lato', Courier, monospace;
     
}
.main_content{
    width: 87%; height: 100vh;
    margin-left: auto; margin-right: auto; margin-top: 80px;
}
.party{
    width: 87%; height: 65vh;
    background:linear-gradient(90deg,rgba(0, 0, 0, 0.719),
    rgba(135, 207, 235, 0.795)),url(resources/Vectorrr.png);
    display: flex; justify-content: space-around;
    margin-left: auto; margin-right: auto; margin-top: 100px;
    border-radius: 15px;
}
.x{
    height: 99%; width: 40%;
}
.left{
    width: 59%;
}
.btn{
    border: 0px; background-color: rgba(0, 0, 0, 0.56);
    margin-left: 19%; margin-top: 11%;
}
.schedule{
    width: 87%; margin-left: auto; margin-right: auto; margin-top: 100px;  height: 55vh;
    background-image: linear-gradient(rgba(255, 192, 203, 0.447),rgb(255, 255, 255));
}
.schedule h1{
    color: black; font-size: 34px;
    text-align: center;
}
.btn1{
    margin-left: 45%; margin-top: 5%; 
    width: 170px; height: 60px; border-radius: 8px; border: 0px;
    background-color: red; 
}
.bonas{
    width: 100%; height: 80vh;margin-top: 100px;
    display: flex; justify-content: space-around;
}
.z{
    width: 33%;  height: 100%;
}
.bonas_x1{
    margin-top: 10%; margin-left: auto;
    width: 28%;
}
.x2{
    width:36%
}
.inner{
    width: 85%; height: 74%; border: 10px solid red;
    border-radius: 50% 50%; margin-top: 8%; 
}
.bonas_x3{
    padding-top: 10%;
}
.inner img{
    margin-top:9%; margin-left: 6%;
}
.sale{
    width: 87%; 
    margin-left: auto; margin-right: auto;
}
.sub_sale{
    width: 87%; height: 90vh; display: flex; 
    justify-content: space-around; flex-direction: row;
    flex-wrap: wrap; margin-left: auto; margin-right: auto;
}
 .sale1{
   width: 65%; height: 72%;
 }
 .sale2{
      width: 32%; height: 72%;
      
 }
.sale3{
    width: 100%; height: 25%; 
    background-color: red; display: flex;
    justify-content: start; align-items: center;
}
.im{
    width: 45%; height:650px; margin-bottom: 400px;
}
.picture{
    width: 88%; height: 115vh; display: flex; justify-content: space-around;
    flex-direction: row; flex-wrap: wrap; margin-left: auto; margin-right: auto;
}
.image{
    width: 30%; height: 48%;
}
.ending{
    margin-left: auto; margin-right: auto; height: 80vh; width: 88%;
     margin-top: 100px; background-color: rgba(255, 192, 203, 0.236);
}
.img4{
   margin-left: 44%; margin-top: 70px;
}
.subscribe{
    position: relative; height: 120px; width: 580px; 
    top: 15px; left: 400px;
}
.inp{
  position: absolute; display: inline-block;
  top:10px; left:35px; width: 300px; height: 50px; border: none;
  border-radius: 25px 0 0 25px;
}
input::placeholder{
    font-size: 24px; padding-left: 5px;
}
.inp2{
    position:absolute; top: 10px; left:339px;
    width: 150px; height: 54px; border: none;
    border-radius: 0 25px 25px 0; background-color: red;
}

.foot{
    width: 100%; height: 90vh; background-color: black;
    margin-top: 120px; border-radius: 10px;
}

.heading{
    display: flex; justify-content: space-between;
    border-bottom: 1px solid white; width: 100%;
}
.heading1{
    width: 40%; height: 270px;
}
.heading2{
    width: 40%; height: 270px;
}
.heading h1{
    display: inline-block; 
}
.end_picture{
    margin-top: 80px; padding-left: 580px; border-bottom: 1px solid white; width:2000px;
}
.final{
    display: flex; justify-content: space-between;
}



    
